@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,
body {
    font-family: "Source Sans Pro", 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

section{
    
    max-width: 980px;
    margin: auto;
    transform: translateY(-10px);
}
button {
    width: 100px;
    height: 30px;
    margin: 20px 0 30px 0px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    background:linear-gradient(60deg, #106e57 3%, #14d1b8 100%);
    border: 1px solid #0080ed;
    cursor: pointer;
}
button:hover {
    background-color: rgba(0, 128, 237, 0.75);
    transform: translateY(-2px);
}

.imagem-cao img{
    width: 85%;
    margin: 0 7%;
    border-radius: 50px;
    box-shadow: 5px 5px 15px -4px black;
    transition: all 0.6s ease 0s;
    object-fit: contain;
}

.logo{
    width: 50%;
    height: 20%;
    margin: 0 7%;
    cursor: pointer;
}

.imagem-cao:hover{
    transform: translateY(-7px);
}
.publication {
    font-size: 14px;
    margin: 0 0 0 11%;
    color: #696a6a;
}

h1{
    margin: 40px 0 25px 0;
    font-size: 30px;
}
h4{
    margin: 15px 0 15px 0;
    font-size: 15px;
}
p{
    margin-top: 30px;
    font-size: 18px;
}
p:last-child{
    padding-bottom: 100px;
}
h2{
    margin: 40px 0 25px 0;
    font-size: 30px;
}

.content-video{
    display:flex;
    justify-content: center;
}

@media (max-width: 1000px) {
    section {
        padding: 0 20px;
    }
    h1{
        font-size: 25px;
    }
    h2{
        font-size: 25px;
    }
    p{
        font-size: 16px;
    }
   

    .imagem-cao img {
        min-height: 300px;
        object-fit: cover;
    }

    .logo {
        min-width: 200px;
    }
}

/*Navbar do futuro*/

header {
    background:linear-gradient(60deg, #106e57 3%, #14d1b8 100%);
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 980px;
    height: 80px;
    margin: auto;
}

header nav ul{
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 24px;
    transition: all 250ms linear 0s;
}

header nav ul li a:hover {
    background: rgba(255,255,255,0.15);
}

header .container img{
    height: 30px;
}

#checkbox-menu{
    display:none
}

/*navbar do celular*/

@media (max-width: 630px) {

    .menu-button-container {
        display: flex
    }

    .menu {
        position: fixed; /*local onde deixa a parte do navbar responsiva*/
        margin-top: 30px;
        flex-direction: column;
        width: 100vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(100vw);
        transition: 0.5s ease transform;
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
        color: white;
        background:linear-gradient(60deg, #106e57 3%, #14d1b8 100%);
        border-radius: 5px;
    }

    .menu>li:not(:last-child) {
       border-bottom: 1px solid white;
    }

    .menu li a {
        flex: 1;
        text-align: center;
    }

    main .container-menu img {
        display: none;
    }

    label {
        cursor: pointer;
        position: relative;
        display: block;
        height: 22px;
        width: 30px;
    }

    label span {
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }

    label span:nth-child(1) {
        top: 0;
    }

    label span:nth-child(2) {
        top: 8px;
    }

    label span:nth-child(3) {
        top: 16px;
    }

    #checkbox-menu:checked+label span:nth-child(1) {
        transform: rotate(-45deg);
        top: 8px
    }

    #checkbox-menu:checked+label span:nth-child(2) {
        opacity: 0;
    }

    #checkbox-menu:checked+label span:nth-child(3) {
       transform: rotate(45deg);
        top: 8px
    }

    nav.menu{
        width: 100%;
    }

    #checkbox-menu:checked~nav .menu {
        transform: translateX(-100vw); /*quem manda é esse cara, quando aparece ou não*/
        transition: 0.5s ease transform;
    } 

    section { 
        transform: translateY(50vw);


    }


}