@media (max-width:1000px) {
    form {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }

}

@media (max-width: 1000px) {
    .container-nav {
        padding: 0px 20px;
    }
}



@media (max-width: 630px) {
  

    .menu-button-container {
        display: flex
    }

  
    .container-nav{
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .navbar {
        
        position: fixed;
        margin-top: 5px;
        flex-direction: column;
        width: 50vw;
        justify-content: center;
        align-items: center;
        left: 100%;
        transform: translateX(32vw);
        transition: 0.5s ease transform;
    }

    .navbar>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0px;
        width: 100%;
        color: white;
       
        border-radius: 5px;
    }

    #checkbox-menu {
        position: absolute;
        opacity: 0;
    }

    /*Modifica o botão hamburgue*/

    label{
        cursor: pointer;
        position: relative;
        display: block;
        height: 50px;
        width: 30px;
        text-align: center;
    }

    /*logo do icon Beagle*/

    .navbar .logo {
       display: none;

    }

    /*logo da imagem Pet Friendly*/

    .navbar .dog {
        width: 40%;
    }


    /*Modifica o botão hamburgue desapacere*/

    label span{
        position: absolute;
        display: block;
        height: 5px;
        width: 100%;
        background: white;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }

    label span:nth-child(1){
        top: 0;
    }

    label span:nth-child(2){
        top: 8px;
    }

    label span:nth-child(3){
        top: 16px;
    }

    #checkbox-menu:checked + label span:nth-child(1){
        transform: rotate(-45deg);
        top: 8px
    }
    #checkbox-menu:checked + label span:nth-child(2){
        opacity: 0;
    }
    #checkbox-menu:checked + label span:nth-child(3){
        transform: rotate(45deg);
        top: 8px
    }

    nav.menu{
        width: 100%;
    } 

    #checkbox-menu:checked~nav .menu {
        transform: translateX(-100vw); /*quem manda é esse cara, quando aparece ou não*/
        transition: 0.5s ease transform;
    } 


    .titulo {
       
        text-align: center;
        justify-items: center;
       
    }   

    /* Formulario */

    .formulario{
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
        height: 100%;
    }

    form .contato {
        height: 100%;
        display:flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }

    /*form .contato h4  {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;
    }
    */

    .formulario .contato h5 {
        display: flex;
        align-items: center;
        width: 100%;
        padding-top: 30px;
        text-align: center;
        flex-direction: column;

    }
    
    /*h4 frase Fale com Au gente*/
    .formulario .contato .titulo-form h4{
        height: 100%;
        display:flex;
        line-height: 10px;
        margin-top: 0%;

    }

    /* label: nome completo, email e mensagem*/

    .formulario .row-flex label {
      
        height: 10%;
        display:flex;
        width: 0%;
        align-items: center;
        justify-content: center;
        margin-top: 7%;
        margin-right: 20%;
        
    }

   /* form .row-flex .input {
       
        height: 20%;
        display:flex;
        align-items: center;
        justify-content: center;
        line-height: 10px;
        margin-top: 7%;
    }*/
  
 
    
    form button{
        display: flex;
    }

    /*form .titulo-form label{
        position: absolute;
        display: flex;
        height: 5px;
        width: 100%;
        margin-top: 7%;
        border-radius: 30px;
        transition: 0.25s ease-in-out;
    }*/

    /*Aqui mexe no input do formulario nome completo e email*/

    .formulario .row-flex input{
        position: absolute;
        display: flex;
        height: 5%;
        width: 50%;
       line-height: 30%;
       align-items: center;
        justify-content: center;
       margin-top: -10%;
       margin-left: 10%;
        border-radius: 10px;
        /*transition: 0.25s ease-in-out;*/
    }

    form button {
        position:absolute;
        display: flex;
        height: 10%;
        width: 30%;
        line-height: 10px;
        margin-top: 1%;
        /*border-radius: 30px;*/
        /*transition: 0.25s ease-in-out;*/

    }

    .formulario textarea {
        display: flex;
       /* align-items: center;*/
        width: 2%;
        padding-top: 20%;
        text-align: center;
        flex-direction:row;
        height: 5%;
        /*position: absolute;*/

    }
     

    .footer-content p{
        max-width: 400px;  /* regulagem  do espaço da frase */
        margin: 40px auto;
        line-height: 30px;
        font-size: 20px;
      
    }

    .socials{
        list-style: none;
        max-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 1rem 0 3rem 0;
     
    }

    
    .footer {
       
        max-width: 442px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    

   
}
/* continuar no formulario que ainda não ficou responsivo..... */

